<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{title}} - Customer Order</title>
</head>
<header>
    <h1>Book Shop</h1>
    <h2>You guessed it...we sell books!</h2>

</header>
<body>
    <section class="heading">
    <h1>Custmers Order</h1>
    </section>
    <div>
        <section class="gallery">
        <p>
            <b>Name:</b> {{currentOrder.customer_name}} <br>
            <b>Order Date:</b> {{currentOrder.order_date}} <br>
            <b>Quantity:</b> {{currentOrder.quantity}} <br>
            <b>Title:</b> {{currentOrder.title}} <br>
            <b>Author:</b> {{currentOrder.author}} <br>
            <a href="/orders">back</a>
        </p>
        </section>
    </div>
</body>
<footer><h4>Brought to you by books 2021</h4></footer>
</html>